{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<small><a href="/">Home</a> // {{ article.title }}</small>
<h2>{{ article.title }}</h2>
<label>Posted on {{ article.date|strftime('%d %B %Y') }}</label>
<article>
    {{ article.content }}
</article>
{% endblock %}
