<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css">
    </head>
    <body>
        <header>
            <h1>{{ SITENAME }}</h1>
        </header>
        <hr />
        <section class="content">
            {% block content %}{% endblock %}
        </section> 
        <footer>
        </footer>
    </body>
</html>
