{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
<ul>
    {% for article in articles %}
    <li>[{{ article.date|strftime('%d %b %Y') }}] <a href="/{{ article.slug }}.html">{{ article.title }}</a></li>
    {% else %}
    Sorry, I don't have any post for you... :(
    {% endfor %}
</ul>
{% endblock %}
