/* ---
// Main CSS FILE
//
// COLOR VALUES
// BLACK        #080705
// RED          #760017
// WHITE        #FDFFFC
// BLUE         #001776
// GRAY         #40434E
*/

a {
    color: #001776;
    text-decoration: none;
}
    a:visited {
        color: #760017;
    }
body {
    margin: 0 auto;
    max-width: 1000px;
}
header {
    margin: 0 4ch;
}
html {
    background: #FDFFFC;
    font-family: "Lucida Console", Monaco, monospace;
}
h1 {
}
p {
    text-indent: 4ch;
}

.content {
    margin: 0 4ch;
}
